@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
    scroll-behavior: smooth;
  }
.landing{
    background-image: url('../img/background/first.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}

.landing h1{
  padding: 2px;
  margin: 5px;
}

#mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }

#mouse-click {
    animation: bounce 2s;
  animation-iteration-count: infinite;
}

.about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
  }

  #about{
    font-family: 'Gabriela', serif;
  }

  .services h2{
    font-family: 'Gabriela', serif;
    
  }

  #servicesoverlay{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .services{
    text-align: center;
    background-image: url("../img/background/second.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
  }