body{
  overflow-x: hidden;
}


.landing{
    background-image: url('../img/background/first.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}

.landing h1{
  padding: 2px;
  margin: 5px;
}

#mouse-click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }

#mouse-click {
    animation: bounce 2s;
  animation-iteration-count: infinite;
}

.about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
  }

  #about{
    font-family: 'Gabriela', serif;
  }

  .services h2{
    font-family: 'Gabriela', serif;
    
  }

  #servicesoverlay{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .services{
    text-align: center;
    background-image: url("../img/background/second.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
  }

  .services h2{
    font-family: 'Gabriela', serif;
  }
  
  #servicesoverlay{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .what-we-do{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  .what-we-do .headings{
    padding-bottom: 38px;
  }
  .hover{
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
  }
  .work-image{
    position: relative;
  
  }
  .wonger{
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
    margin-left: 10%;
    margin-top: 10%;
  }
  .wonger h1{
    text-align: center;
    font-size: 25px;
    padding-top: 30%;
    font-style:oblique;
  
  }
  #form{
    background-image: url("../img/background/third.jpg");
  }

.input{
  display: inline;

}
#form input{
  width:35%;
  background-color: transparent;

}
#name{
  margin-left: 12%;
  color :white;
}
#email{
  margin-left:5%;
  color: white;
}
#form textarea{
  background-color: transparent;
  color: white;
}
#email::placeholder{
  color: white;
}

#name::placeholder{
  color: white;
}
textarea::placeholder{
  color: white;
}
.icon{
  padding-left: 20px;
}
    footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Delius Swash Caps', cursive;
  }

  footer p{
    margin-top: 10px;
  }

  #product, #development, #design{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }

  #product .title, #development .title, #design .title{
    font-size: 20px;
    font-weight: 600;
  }

  @media only screen and (max-width: 755px){
    .work1-overlay,.work2-overlay,.work3-overlay,.work4-overlay,.work5-overlay,.work6-overlay,.work7-overlay,.work8-overlay {
      display: none;
      background-color: black;
      opacity: 0.7;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 90%;
  
  }
  
}
  